body {
  font-family: "Yu-Gothic";
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

.search {
  display: inline-block;
  position: absolute;
  top: 23px;
  right: 90px;
}

.search input, .search select {
  padding: 5px;
}

main {
  margin: 80px 90px 0;
}

.shops {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.shop {
  width: 23%;
  margin-left: 22px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.shop_img img {
  width: 100%;
  height: 17vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  transition: 0.2s;
}

.shop_img img:hover {
  opacity: 0.75;
}

.shop_content {
  margin: 15px 0;
}

.shop_name {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.tag {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tag button {
  color: rgb(114, 113, 113);
}

.tag button:hover {
  text-decoration: underline;
}

.tag .area_tag, .genre_tag {
  display: inline-block;
}

.detail_like {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}

.shop_detail_btn, .like_btn {
  display: flex;
  align-items: center;
}

.shop_detail_btn {
  background-color: rgb(50, 50, 250);
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  transition: 0.2s;
}

.shop_detail_btn:hover {
  background-color: rgb(30, 30, 145);
  color: rgb(160, 160, 160);
}

.shop_detail_btn:visited {
  color: white;
}

.shop_detail_btn:visited:hover {
  background-color: rgb(30, 30, 145);
  color: rgb(160, 160, 160);
}

.like_btn {
  padding-top: 20px;
}